.city{
    height: 20vh;
    background-color: #0056b3;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    flex: 1;
    margin-right: 1rem;
    width: 450px;
}

.search-input #search1{
    width: 310px;
}

.search-button {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .search-input{
        width: auto;
        display: flex;
        flex-direction: column;
    }
}