  .step-number {
    font-size: 5rem; 
    font-weight: bold;
    color: #ff5733; 
    border-bottom: 3px solid #ff5733;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .step-number::before {
    content: "Passo "; 
    display: block;
    font-size: 1.5rem;
    color: #555; 
  }
 
  .step-text{
    font-size: 19px;
    margin-inline:100px;
  }

  .video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .video-player {
    height: auto;
    width: 500px;
    border-radius: 50px 0 50px 0;
  }
