.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    position: relative; 
    background-image: url('../../assets/images/img-login.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    height: 500px;
    width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    padding-block: 20px; 
    border-radius: 10px; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.login-button {
    width: 100%; 
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px; 
}

.login-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}
