.box-contain {
    justify-content: center;
    display: flex;

}


.box-sizing {
    background-color: #f57c00;
    width: 80%;
    padding: 40px;
    color: #fff;
    border-radius: 10px 220px 10px 10px;
}

.box-img {
    position: absolute;
    left: 90px;
    top: 160px;
    z-index: 1;
}