.landing-sobre svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.custom-navbar {
  background-color: #181818;
  padding: 10px 0;
  position: sticky;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.navbar-nav .nav-link {
  color: white;
  margin: 0 10px;
  position: relative;
  font-weight: 500;
}

.nav-item:nth-child(1) {
  margin-top: 0;
}

.navbar-nav .nav-link:hover {
  color: #f57c00;
}

.nav-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f57c00;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.custom-button {
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 50px;
  border-radius: 15px;
  text-decoration: none;
}

.custom-button:hover {
  background-color: #0056b3;
}
.text-justify{
  text-align: justify;
}
.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* Banner */

.landing-banner {
  background: linear-gradient(to bottom, #7b1ba9, #212121);
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 120px;
}

.landing-banner .banner-content {
  flex-direction: column;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: start;
}

.landing-banner .banner-content h1 {
  font-size: 61px;
}

.text-laranja {
  color: #f57c00;
}

.landing-banner .banner-content .banner-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.banner-buttons .btn-info {
  width: 160px;
  padding-block: 15px;
  color: #fff;
  border-radius: 20px;
}

.btn-info-contato {
  background: #1e88e5;
  transition: all 0.2s ease-in-out;
  border: 5px solid #7b1ba9 !important;
}

.btn-info-contato:hover {
  background: #0c3a63;
  border: 5px solid #fff !important;
}

.btn-info-saiba {
  background: #f57c00;
  border: 5px solid #fff !important;
  transition: all 0.2s ease-in-out;
}

.btn-info-saiba:hover {
  background: #7c3e00;
  border: none !important;
}

@media (max-width: 768px) {
  .landing-banner .banner-content h1 {
    font-size: 40px;
  }
}

/* sobre */

.landing-sobre {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  position: relative;
}

.landing-sobre .sobre-content {
  flex-direction: column;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.landing-sobre .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-sobre .sobre-content h1 {
  font-size: 61px;
  color: #fff;
}

.landing-sobre .sobre-content p {
  font-size: 20px;
  color: #fff;
}

/* servicos */

.landing-servicos {
  background: linear-gradient(to bottom, #7b1ba9, #212121);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  flex-direction: column;
  text-align: center;
}

.landing-servicos h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #fff;
  margin: 10px auto;
}

.landing-servicos .card-effect {
  transition: all 0.4s ease-in-out;
  margin-bottom: 50px;
}

.landing-servicos .card-effect:hover {
  background-color: #fff !important;
  color: #7b1ba9 !important;
  transform: translateY(-20px);
}

.landing-servicos .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  height: 430px;
}

.card-content h3 {
  font-weight: 700;
}

.card-content p {
  font-size: 20px;
  font-weight: 600;
}

.landing-servicos .btn-servicos {
  background-color: #1e88e5;
  color: #fff;
  border: none;
  padding: 15px 35px;
  border-radius: 20px;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

.landing-servicos .btn-servicos:hover {
  background-color: #0c3a63;
}

/* escolha */

.landing-escolha {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
}

.landing-escolha .section-escolha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.escolha-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-escolha .card-escolha {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #1e88e5;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  width: 90%;
  position: relative;
}

.section-escolha .card-escolha::before {
  content: "➜";
  position: absolute;
  left: -80px;
  font-size: 50px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.section-escolha .card-escolha:hover {
  transform: translateX(10%);
  background-color: #0c3a63;
}

.section-escolha .card-escolha:hover::before {
  opacity: 1;
  transform: translateX(10px);
}

.section-escolha .card-escolha img {
  background-color: #212121;
  padding: 10px;
  border-radius: 100%;
}

/* junte */

.landing-junte {
  background: linear-gradient(to bottom, #7b1ba9, #212121);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  flex-direction: column;
  text-align: center;
}

.landing-junte .itens-junte {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-junte {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  padding: 20px;
  height: 50px;
  width: 50px;
}

/* depoimentos */

.landing-depoimentos {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  flex-direction: column;
  text-align: center;
}

.landing-depoimentos h3 {
  white-space: nowrap;
  text-align: start;
}

.landing-depoimentos h3::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 3px;
  background-color: #fff;
  margin: 10px auto;
  margin-left: 15px;
}
.landing-depoimentos .card-depoimentos {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: #ffa800;
  color: #000;
  padding: 20px 50px;
  border-radius: 0 40px 0 40px;
  transition: all 0.4s ease-in-out;
  margin-top: 100px;
}

.card-depoimentos .card-depoimentos-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-depoimentos-header .icon-depoimentos{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  background-color: #007bff;
}

.card-depoimentos-header p{
  font-size: 19px;
  font-weight: 600;
}

.card-depoimentos-body p{
  text-align: start;
  font-size: 15px;
}


/* motivacao */

.landing-motivacao {
  background-color: #7b1ba9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  flex-direction: column;
  text-align: center;
}

.landing-motivacao .btn-motivacao {
  background-color: #AC6CFF;
  border-radius: 20px;
  padding: 15px 35px;
  color: #fff;
  border: none;
  transition: all 0.4s ease-in-out;
}

.landing-motivacao .btn-motivacao:hover {
  background-color: #460e5f;
  transform: translatey(-10%);
}


/* footer */
.footer {
  background-color: #212121;
  color: #ffffff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3, .footer-section h4 {
  color: #AC6CFF;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #AC6CFF;
  padding-top: 10px;
}

.footer-bottom p {
  margin: 5px 0;
}

.text-purple{
  color: #AC6CFF;
}